body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 40px;
  line-height: 1.6;
}

h1 {
  color: #2e3a87;
  text-align: center;
}

h2 {
  color: #444;
  margin-top: 30px;
}

p {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

ol, ul {
  width: 70%;
  margin: 10px auto;
  font-size: 17px;
}

li {
  margin: 8px 0;
}
